# **Clase 1 - Semana 2**

*Tópicos Selectos Proceso Químicos: Análisis de Datos con Python*

# **Ejemplos de tipos de datos en python**

In [ ]:
edades = [10, 25.5, True, "treinta"]
print(edades)

[10, 25.5, True, 'treinta']

# Listas

In [ ]:
lista1 = [2,4,6,8,10]
lista2 = [25.5,26.9,30.2]
lista3 = ["treinta", "cuarenta", "cincuenta"]
lista4 = [True, False, False, True] #Una lista es una secuencia de valores.

In [ ]:
lista1 #para llamar listas solo marcalas con numeros distintos

[2, 4, 6, 8, 10]

In [ ]:
lista3

['treinta', 'cuarenta', 'cincuenta']

**para cambiar el valor de una lista:**

In [ ]:
lista1 [0] = 7 #el valor que venga en los corchetes se cambiara por el que se indique despues del igual

In [ ]:
lista1

[7, 4, 6, 8, 10]


**para llamar datos:**

In [ ]:
lista3 [2]

'cincuenta'

**para añadir datos usamos append**

In [ ]:
lista1 #append sirve para añadir datos

[7, 4, 6, 8, 10]

In [ ]:
lista1.append (14)

In [ ]:
lista1

[7, 4, 6, 8, 10, 14]

**remove sirve para eliminar datos**

In [ ]:
lista1.remove (4) #para eliminar texto usamos remove

In [ ]:
lista1

[7, 6, 8, 10, 14]

# Cadenas de Texto

In [ ]:
a= "soy alumne de la uam" #las cadenas de texto no se pueden modificar

In [ ]:
a[8]

'n'

In [ ]:
b= a.replace ("uam", "uami") #si necesitamos modificar una cadena de texto, tenemos que utilizar la función que cree una nueva cadena, como la función .replace()
b

'soy alumne de la uami'

**para convertir de numero a texto**

In [ ]:
g= 7.8 #muchos objetos de Python se pueden transformar en una cadena de texto utilizando la función str()

In [ ]:
h=str(g) #se usa str

**Sumar dos cadenas las concatena y produce una nueva:**

In [ ]:
a= "soy alumne de la uam"
b= " y estudio antropología"

In [ ]:
a+b #es la suma del comando que pedí con las dos variantes

'soy alumne de la uam y estudio antropología'